
    /* CSS BY (Malia Sako) */
    /* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    /* CSS RESET */
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
    /* ROOT VARIABLES */
    :root {
        --midnight-blue: #1F2A44;
        --olive-green: #76885B;
        --champagne-gold: #E5C185;
        --linen: #F8F4EC;
        --dark-charcoal: #2B2B2B;
        --soft-white: #FAF9F6;

        --font: Playfair Display, sans-serif;
    }
    /* GLOBAL STYLES (mobile first/small) */
    body {
        font-family: var(--font);
        background-color: var(--linen);
    }
    p {
        font-size: 0.9rem;
        line-height: 20px;
    }
    header {
        background-color: var(--midnight-blue);
        text-align: center;
        color: var(--soft-white);
        padding: 20px;
    }
    h1 {
        font-size: 3.5rem;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    header p {
        font-size: 1.1rem;
        font-style: italic;
        padding: 10px;
    }
    /*--------nav section------------------------------------------------*/
    nav {
        background-color: var(--champagne-gold);
        font-size: 1.3rem;
        padding: 10px;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    nav li {
        width: 100%;
    }
    nav a {
        display: block;
        font-weight: bold;
        color: var(--midnight-blue);
        text-decoration: none;
        gap: 20px;
    }
    /*--------main section----------------------------------------------------*/
    /*--------welcome section-----------------------------------*/
    #welcome {
        border-bottom: solid var(--champagne-gold) 2px;
        margin: 20px;
        padding: 30px 0 20px 0;
    }
    #welcome h2 {
        color: var(--midnight-blue);
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 10px;
    }
    #welcome p {
        color: var(--dark-charcoal);
    }
    /*--------offerings section----------------------------------*/
    #ourofferings {
        border-bottom: solid var(--champagne-gold) 2px;
        margin: 20px;
        padding: 10px 0 5px 0;
    }
    #ourofferings h2 {
        color: var(--midnight-blue);
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .a,
    .b,
    .c 
    {
        background-color: var(--olive-green);
        color: var(--soft-white);
        padding: 15px;
        border-radius: 5px 5px 5px 5px;
        margin: 15px 0;
        box-shadow: 1px 11px 15px -10px rgba(0,0,0,0.29);
    }
    .a h3,
    .b h3,
    .c h3
    {
        font-size: 1.2rem;
        font-weight: bold;
        padding-bottom: 5px;
    }
    .c li{
        list-style: disc;
        list-style-position: inside;
        font-size: 0.9rem;
        line-height: 20px;
    }
    /*--------gallery fnf section----------------------------------*/
    #galleryfnf {
        border-bottom: solid var(--champagne-gold) 2px;
        margin: 20px;
        padding: 10px 0 20px 0;
    }
    #galleryfnf h2 {
        color: var(--midnight-blue);
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 10px;
    }
    #galleryfnf p {
        color: var(--dark-charcoal);
    }
    figure {
        margin: 10px 0;
        padding: 10px 0 10px 0;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 1px 11px 15px -10px rgba(0,0,0,0.29);
    }
    figcaption {
        padding-top: 10px;
        text-align: center;
        font-style: italic;
    }
    .a1 img,
    .b2 img,
    .c3 img,
    .d4 img,
    .e5 img
    {
        border-radius: 5px 5px 0 0;
    }
    #galleryfnf a {
        display: block;
        background-color: var(--olive-green);
        color: var(--soft-white);
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px 5px 5px 5px;
        margin: auto;
    }
    /*--------footer section----------------------------------------------------*/
    footer {
        background-color: var(--midnight-blue);
        text-align: center;
        padding: 60px 0 30px 0;
        line-height: 25px;
    }
    footer a {
        text-decoration: none;
        color: var(--champagne-gold);
        font-size: 1rem;
    }
    footer address {
        color: var(--soft-white);
    }
    footer p {
        padding-top: 40px;
    }
    /* MEDIA QUERY (medium) */
    @media screen and (min-width: 600px) {
        #ourofferings {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);
            column-gap: 15px;
        }
        #ourofferings h2 {
            grid-column: span 2 / span 2;
        }
        .a {
            line-height: 30px;
            grid-row-start: 2;
        }
        .b {
            line-height: 30px;
            grid-row-start: 2;
        }
        .c {
            margin: 0 0 20px 0;
            line-height: 30px;
            grid-column: span 2 / span 2;
        }
    }
    /* MEDIA QUERY (large) */
    @media screen and (min-width: 900px) {
        
    }
    /* MEDIA QUERY (xl) */
    @media screen and (min-width: 1200px) {

    }
